.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 30rem;
    padding: 2rem;
}

.hero__container__message{
    flex-basis: 50%;

    & div{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem
    }
}


.hero__container__image{
    
    flex-basis: 50%;

}
